@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem<Card>>
@{
    var content = Model?.Content;
    var filters = content?.Filters;
    var imageUrl = content?.Image?.GetCropUrl() + "?format=webp";
    var tagNamesStr = filters != null ? string.Join(",", filters.Select(t => t.Name.ToLower())) : "";
}
<div class="card" data-tags="@tagNamesStr">
    <div class="card-image">
        <img src="@imageUrl" alt="@content?.Title" />
    </div>
    <div class="card-content">
        <h3 class="card-title">@content?.Title</h3>
        <p class="card-description">@content?.Description</p>
        @if (filters?.Count() > 0)
        {
            <div class="card-technologies">
                @foreach(var filter in filters)
                {
                    <span class="tech-tag">@filter.Name</span>
                }              
            </div>
        }

        @if (content?.CardUrl != null || content?.GitUrl != null)
        {
            <div class="card-links">
                 @if (content?.CardUrl != null){                   
                    <a href="@content.CardUrl" aria-label="@content.CardUrl.Name" target="_blank">Live Demo 🔗</a>
                 }
                @if (content?.GitUrl != null)
                {
                    <a href="@content.GitUrl" aria-label="@content.GitUrl.Name" target="_blank" class="secondary">Source Code 🐙</a>
                }
             </div>
        }
    </div>
</div>