@using System.Net;
@using DeliasWebsite.Core.Features.Search
@inherits UmbracoViewPage<Pagination>

@{
    var query = Model.Query.IsNullOrWhiteSpace() ? null : Model.Query;
}

@if (Model != null && Model.TotalPages > 1)
{
    <div class="pagination">
        <div class="pagination-container">

            @* Previous button *@
            @if (Model.CurrentPage > 1)
            {
                var prevUrl = query == null
                ? $"?page={Model.CurrentPage - 1}{(string.IsNullOrEmpty(Model.TagFilter) ? "" : $"&tag={WebUtility.UrlEncode(Model.TagFilter)}")}#articles"
                : $"?q={query}&p={Model.CurrentPage - 1}";

                <a class="icon rotate" href="@prevUrl" aria-label="Previous page">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            }

            <ul class="flex gap-4">
                @for (int i = Model.PaginationStart; i <= Model.PaginationEnd; i++)
                {
                    var isActive = Model.CurrentPage == i;
                    var ariaLabel = isActive ? $"Current page, page {i}" : $"Go to page {i}";
                    var pageUrl = query == null
                    ? $"?page={i}{(string.IsNullOrEmpty(Model.TagFilter) ? "" : $"&tag={WebUtility.UrlEncode(Model.TagFilter)}")}#articles"
                    : $"?q={query}&p={i}";

                    <li>
                        @if (isActive)
                        {
                            <span class="current" aria-current="true" aria-label="@ariaLabel">@i</span>
                        }
                        else
                        {
                            <a class="page-link" href="@pageUrl" aria-label="@ariaLabel">@i</a>
                        }
                    </li>
                }
            </ul>

            @* Next button *@
            @if (Model.CurrentPage < Model.TotalPages)
            {
                var nextUrl = query == null
                ? $"?page={Model.CurrentPage + 1}{(string.IsNullOrEmpty(Model.TagFilter) ? "" : $"&tag={WebUtility.UrlEncode(Model.TagFilter)}")}#articles"
                : $"?q={query}&p={Model.CurrentPage + 1}";

                <a class="icon" href="@nextUrl" aria-label="Next page">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            }

        </div>
    </div>
}
