@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem<Section>>
@{
    var filters = Model?.Content?.Filters;

}
<section class="cards">
    <div class="container">
        <div class="section-header">
            @if (!string.IsNullOrWhiteSpace(Model?.Content?.ButtonTextTop))
            {
                  <div class="section-badge">@Model.Content.ButtonTextTop</div>
            }

            @if (!(string.IsNullOrWhiteSpace(Model?.Content?.Title?.ToString())))
            {
               <h2 class="section-title">@Html.Raw(Model?.Content?.Title)</h2>
            }
           
            @if (!string.IsNullOrWhiteSpace(Model?.Content.Intro))
            {
               <p class="section-description">
                  @Model?.Content.Intro
               </p>
            }
        </div>
        
        @if(filters?.Count() > 0)
        {
            <div class="filter-buttons">
                <button class="filter-btn active" data-filter="all">All</button>
                @foreach (var filter in filters)
                {
                    <button class="filter-btn" data-filter="@filter.Name.ToLower()">@filter.Name</button>
                }
            </div>
        }
  

      
            @Html.GetBlockListHtml(Model?.Content?.RenderComponents)
    

    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterButtons = document.querySelectorAll(".filter-btn");
        const cards = document.querySelectorAll(".card");

        filterButtons.forEach(button => {
            button.addEventListener("click", () => {
                const filter = button.getAttribute("data-filter");


                filterButtons.forEach(btn => btn.classList.remove("active"));
                button.classList.add("active");


                cards.forEach(card => {
                    const tags = card.getAttribute("data-tags").toLowerCase().split(",");
                    const show = filter === "all" || tags.includes(filter.toLowerCase());
                    card.style.display = show ? "block" : "none";
                });
            });
        });
    });
</script>